*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.heading{
  color: red;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 0px 2px 4px greenyellow;
  font-family: 'Bangers', cursive;
  margin-bottom: 50px;

}


.img_div{
  display: flex;
  justify-content: center;
}

.img_div img{
  margin: 0px 10px;
}

#main{
  height: 100vh;
  width: 100%;
  background-color: mediumturquoise;
  box-sizing: border-box;
  margin-top: 10px;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

.greet{
  height: 50px;
  width: 250px;
  display: flex;
  background-color: sandybrown;
  position: absolute;
  left: 500px;
  top: 300px;
  border-radius: 15px;

}

.greet h2{
  color: mediumvioletred;
  padding: 15px 10px;
  font-size: 20px;
}